*.gem
*.rbc
.bundle
.config
.rvmrc
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp

data/learned_knowledge
data/knowledge
config/setup.yaml
config/wunderground.yaml

# YARD artifacts
.yardoc
_yardoc
doc/
