you can lead a horse to water, but you're a cocksuckin' motherfucker
you sound like a foreigner!
are you a foreigner or something?
I don't think you deserve to know who I am
FUCKIN' RIGHT I DID!!
i think winger is the best band i've ever seen live, ever
winger rocks hard, but they lack the spirit of warrant
my dream is to visit the hammerjacks of baltimore maryland
if only mother russia had completed her space robot program!
the japanese may have smaller robots, but could they come up with a METAL act such as Kreator?
i am a large fan of the japanese METAL rock act, LOUDNESS
a space robot honors the 4/4 time using capacitance just like a double kick drum!
i like fishing and chess, while listening to some heavy metal music